*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: #222;
font-family: 'Shantell Sans', cursive;
max-width: 1200px;
margin: 0 auto;
}

/*Karol*/ 

.busca-container{
    margin-block: 2.25rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Matheus*/

.busca{
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: 10px 20px 40px rgba(77, 76, 158);
    padding-inline: 1.20rem;
    border-radius: 20px;
    color: aliceblue;
    font-size: 20px;
}

/*Nicoly*/

.pokemons{
    display:grid;
    justify-content: center;
    gap: 20px;
}

.card{
    padding: 20px;
    color: #222;
    text-align: center;
    border-radius: 20px;
    background-color: white;
}

/*Caio*/

.card:hover{
    cursor: pointer;
}

.type{
    color: #db0f0f5e;
    padding-top: 5px;
}

.container h1{
    color: aliceblue;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 15px;
    font-size: 50px;
}
/*Ph*/


